apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceest-fitness
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
  containers:
    - name: aceest-fitness
      image: 7337432133/aceest_fitness:latest
      ports:
        - containerPort: 5050
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
